<form [formGroup]="tripForm" (ngSubmit)="searchRoutes()" class="trip-planner-form">
  <div class="location-fields">
    <!-- From Location -->
    <mat-form-field appearance="outline" class="location-field">
      <mat-label>Honnan</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <input matInput formControlName="from" placeholder="Pl. Deák Ferenc tér" [matAutocomplete]="fromAutocomplete" />
      <mat-autocomplete #fromAutocomplete="matAutocomplete" [displayWith]="displayStopFn"
        panelClass="planner-autocomplete-panel">
        @for (stop of filteredFromStops$ | async; track stop.id) {
        <mat-option [value]="stop">
          <div class="autocomplete-option">
            <mat-icon [class]="'stop-icon ' + stop.type">{{ getStopIcon(stop.type) }}</mat-icon>
            <span class="stop-name">{{ stop.name }}</span>
          </div>
        </mat-option>
        }
        @if (fromStopsCount() === 0 && fromInputLength() >= 2) {
        <mat-option disabled>
          <div class="no-results">
            <mat-icon>search_off</mat-icon>
            <span>Nem található megálló</span>
          </div>
        </mat-option>
        }
        @if (fromInputLength() > 0 && fromInputLength() < 2) { <mat-option disabled>
          <div class="no-results">
            <mat-icon>info</mat-icon>
            <span>Írj be legalább 2 karaktert</span>
          </div>
          </mat-option>
          }
      </mat-autocomplete>
    </mat-form-field>

    <!-- Swap Button -->
    <button type="button" mat-icon-button class="swap-button" (click)="swapLocations()" matTooltip="Helyek cseréje">
      <mat-icon>swap_vert</mat-icon>
    </button>

    <!-- To Location -->
    <mat-form-field appearance="outline" class="location-field">
      <mat-label>Hova</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <input matInput formControlName="to" placeholder="Pl. Keleti pályaudvar" [matAutocomplete]="toAutocomplete" />
      <mat-autocomplete #toAutocomplete="matAutocomplete" [displayWith]="displayStopFn"
        panelClass="planner-autocomplete-panel">
        @for (stop of filteredToStops$ | async; track stop.id) {
        <mat-option [value]="stop">
          <div class="autocomplete-option">
            <mat-icon [class]="'stop-icon ' + stop.type">{{ getStopIcon(stop.type) }}</mat-icon>
            <span class="stop-name">{{ stop.name }}</span>
          </div>
        </mat-option>
        }
        @if (toStopsCount() === 0 && toInputLength() >= 2) {
        <mat-option disabled>
          <div class="no-results">
            <mat-icon>search_off</mat-icon>
            <span>Nem található megálló</span>
          </div>
        </mat-option>
        }
        @if (toInputLength() > 0 && toInputLength() < 2) { <mat-option disabled>
          <div class="no-results">
            <mat-icon>info</mat-icon>
            <span>Írj be legalább 2 karaktert</span>
          </div>
          </mat-option>
          }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="datetime-fields">
    <!-- Date -->
    <mat-form-field appearance="outline" class="date-field">
      <mat-label>Dátum</mat-label>
      <mat-icon matPrefix>calendar_today</mat-icon>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Time -->
    <mat-form-field appearance="outline" class="time-field">
      <mat-label>Időpont</mat-label>
      <mat-icon matPrefix>access_time</mat-icon>
      <input matInput type="time" formControlName="time" />
    </mat-form-field>
  </div>

  <!-- Search Button -->
  <button mat-raised-button color="primary" type="submit" class="search-button" [disabled]="tripForm.invalid">
    <mat-icon>search</mat-icon>
    Útvonalak keresése
  </button>
</form>