@if (password) {
  <div class="password-strength-indicator">
    <div class="strength-label">
      <span class="label">Jelszó erőssége:</span>
      <span class="strength" [ngClass]="'strength-' + strengthResult.color">
        {{ strengthResult.label }}
      </span>
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
      [ngClass]="'progress-' + strengthResult.color">
    </mat-progress-bar>
    <div class="requirements">
      <div class="requirement-item">
        <mat-icon [ngClass]="password.length >= 8 ? 'valid' : 'invalid'">
          {{ password.length >= 8 ? 'check_circle' : 'cancel' }}
        </mat-icon>
        <span>Legalább 8 karakter</span>
      </div>
      <div class="requirement-item">
        <mat-icon [ngClass]="hasUpperCase() ? 'valid' : 'invalid'">
          {{ hasUpperCase() ? 'check_circle' : 'cancel' }}
        </mat-icon>
        <span>Legalább 1 nagybetű</span>
      </div>
      <div class="requirement-item">
        <mat-icon [ngClass]="hasNumber() ? 'valid' : 'invalid'">
          {{ hasNumber() ? 'check_circle' : 'cancel' }}
        </mat-icon>
        <span>Legalább 1 szám</span>
      </div>
    </div>
  </div>
}
